GitHubUsers/bin/Debug/System.Windows.Interactivity.xml
GitHubUsers/obj/Debug/App.baml
GitHubUsers/obj/Debug/App.g.cs
GitHubUsers/obj/Debug/App.g.i.cs
GitHubUsers/obj/Debug/GeneratedInternalTypeHelper.g.cs
GitHubUsers/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
GitHubUsers/obj/Debug/GitHubUsers.Properties.Resources.resources
GitHubUsers/obj/Debug/GitHubUsers.csproj.FileListAbsolute.txt
GitHubUsers/obj/Debug/GitHubUsers.g.resources
GitHubUsers/obj/Debug/GitHubUsers_MarkupCompile.lref
GitHubUsers/obj/Debug/MainWindow.g.cs
GitHubUsers/obj/Debug/MainWindow.g.i.cs
GitHubUsers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GitHubUsers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GitHubUsers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GitHubUsers/obj/Debug/Views/ResourceView.baml
